body {background-color: #FFFEFA;}
header {
    background: url(../img/mainvisual2.png) no-repeat;
    background-size: 100%;
    height: 100vh;
    position: relative;
}
header .title {
    position: relative;
    padding: 100px 0;
}
header .title .bg {
    width: 75%;
    margin: 0 auto;
}
header .title .bg img {
    width: 100%;
}
header .title .title_cont {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header .title .title_cont span {
    display: flex;
    align-items: end;
    margin-top: -50px;
}
header .title .title_cont span img {
    animation-name: pofile_img;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    z-index: -1;
}
@keyframes pofile_img {
    0% {transform: rotate(-15deg);}
    100% {transform: rotate(15deg);}
}
header .title .title_cont span p {
    font-size: 2.22rem;
    font-family: "YESMyoungjo-Regular";
    margin-bottom: 15px; margin-left: -30px;
}
header .title .title_cont h2 {
    font-size: 2.778rem;
    margin: 30px 0 50px;
}
header .title .title_cont h1 {
    font-size: 7.222rem;
    font-weight: 800;
    background: linear-gradient(#004E11, #28ad45);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 5px;
}
header .title .title_cont ul {
    display: flex;
    justify-content: center;
    width: 620px;
    margin-top: 50px;
    flex-flow: row wrap;
}
header .title .title_cont .pf_list li {
    margin-right: 30px;
}
header .title .title_cont .pf_list li:nth-child(3), header .title .title_cont .pf_list li:nth-child(5) {
    margin-right: 0px;
}
header .title .title_cont .pf_list li:nth-child(4), header .title .title_cont .pf_list li:nth-child(5) {
    margin-top: 15px;
}
header .title .title_cont .pf_list li a {
    font-size: 1.222rem;
}
header .title .title_cont .pf_list li a:hover {
    color: #12992f;
}
/* ==================== cont 공통 ================== */
.container {
    height: 100vh;
    border-bottom: 2px solid #004E11;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.container .sub_title h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
    margin: 0 0 30px 120px;
} 
.container .sub_title h3 span {
    font-size: 2.77rem;
    font-family: "YESMyoungjo-Regular";
}
.container .contin {
    width: calc(100% - 240px);
    margin: 0 auto;
}
/* ========================= about me ======================= */
.cont1 {
    background: url(../img/mainbg.png) no-repeat center center / 80%;
}
.cont1 .sub_title h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
    margin-left: 120px;
    margin-top: -5%;
} 
.cont1 .contin {
    display: flex;
}
.cont1 .contin .about_cont {
    width: calc(100% / 3);
    display: flex;
    flex-flow: column;
}
.cont1 .contin .profile {
    justify-content: center;
}
.cont1 .contin .profile>img {
    width: 80%;
    margin-left: 10%;
}
.cont1 .contin .profile .p_txt {
    text-align: center;
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}
.cont1 .contin .profile .p_txt .p_name {
    display: flex;
    justify-content: center;
    align-items: end;
}
.cont1 .contin .profile .p_txt .p_name .name {
    font-size: 1.667rem;
    color: #000;
    margin-right: 10px;
}
.cont1 .contin .profile .p_txt .p_name .e_name {
    font-weight: 300;
    font-family: "Gothic A1", sans-serif;
    letter-spacing: 0.05rem;
}
.cont1 .contin .profile .p_txt p {
    margin-top: 15px;
}
/* =====about1,2 공통===== */
.cont1 .contin .about_cont .about_list h4 {
    font-size: 1.222rem;
    color: #000;
    border-bottom: 3px solid #004E11;
    display: inline-block;
    margin-bottom: 20px;
    letter-spacing: -0.05rem;
}
.cont1 .contin .about_cont .about_list p {
    margin-bottom: 20px;
}
.cont1 .contin .about_cont .about_list p:last-child {
    margin-bottom: 0px;
}
.cont1 .contin .about_cont .about_list p span {
    color: #555; margin-left: 15px;
}
/* ====about 1==== */
.cont1 .contin .about1 {
    justify-content: space-around;
    margin-left: 50px;
}
.cont1 .contin .about1 .about_list {
}
.cont1 .contin .about1 .Keyword {}
.cont1 .contin .about1 .Keyword p {
    font-size: 1.222rem;
    line-height: 2.2;
    animation-name: keyword;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    letter-spacing: -0.06rem;
}
@keyframes keyword {
    0% {color: #279b0a;}
    100% {color: #e0f144;}
}
/* ===about2=== */
.cont1 .contin .about2 {
    justify-content: space-between;
    width: 40%;
}
.cont1 .contin .about2 .about_list {}
.cont1 .contin .about2 .Skills {}
.cont1 .contin .about2 .Skills .skills_list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-flow: row wrap;
}
.cont1 .contin .about2 .Skills .skills_list li {}
/* ============================cont2============================== */
.cont2 {
    background: url(../img/mainbg.png) no-repeat center center / 80%;
}
.cont2 .web_list {
    display: flex;
    justify-content: space-between;
}
.cont2 .web_list li {
    opacity: 100%;
    transition: all 0.3s;
}
.cont2 .web_list li:hover {
    opacity: 80%;
}
.cont2 .web_list li:last-child {}
.cont2 .web_list li .title {
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}
.cont2 .web_list li .title h4 {
    font-size: 1.222rem;
    color: #000;
    border-bottom: 3px solid #004E11;
    display: inline-block;
}
.cont2 .web_list li .title>p {
    font-size: 0.778rem;
    color: #555;
    letter-spacing: -0.01rem;
    margin-left: 10px;
}
.cont2 .web_list li .thumnail .btn {
    display: flex;
    gap: 10px;
}
.cont2 .web_list li .thumnail .btn a {
    font-size: 0.889rem;
    background: #9BC2D8;
    width: 100px; height: 28px;
    display: inline-block;
    text-align: center;
    line-height: 28px; 
    padding-top: 3px;
}
.cont2 .web_list li .thumnail .btn a:first-child {
    margin-left: 27px;
}
.cont2 .web_list li .thumnail .btn a:hover {
    color: #fff;
    background-color: #4a91d4;
}
.cont2 .web_list li .w_txt {
    width: 450px; height: 148px;
    background: linear-gradient(to left, #EBEBEF 0%, #F9F9F9 50%, #EBEBEF 100%);
    border-radius: 20px;
    position: relative;
    padding-top: 26px;
    margin: 25px auto 0;
}
.cont2 .web_list li .w_txt>p {
    margin-bottom: 20px;
    margin-left: 25px;
}
.cont2 .web_list li .w_txt>p span {
    font-weight: bold;
}
.cont2 .web_list li .w_txt .icon {
    margin-right: 10px;
    position: absolute;
    right: 25px; bottom: 14px;
}
/*================= cont3 =================*/
.cont3 {}
.cont3 .sub_title h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
    margin-left: 120px;
    margin-top: 0%;
} 
.cont3 .contin {
    width: 70%;
}
.cont3 .contin .sns_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}
.cont3 .contin .sns_list li {}
.cont3 .contin .sns_list li img {width: 400px;}
/* cont3 끝 */
.cont4 {}
.cont4 .contin {}
.cont4 .contin .bn_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.cont4 .contin .bn_list li {}
.cont4 .contin .bn_list li img {width: 100%;}

/* cont4 끝 */
.cont5 {}
.cont5 .detail_list {
    display: flex;
    justify-content: space-between;
}
.cont5 .detail_list li {
    background-color: lightblue;
    width: 800px; height: 800px;
}
.cont5 .detail_list li img {
    display: block;
    width: 100%; height: 100%;
}
/* cont5 끝 */
/* 1920px 끝 */