body {background-color: #FFFEFA;}
header {
    background: url(../img/mainvisual2.png) no-repeat; 
    height: 1080px;
    position: relative;
}
header .title {
    background: url(../img/paint.png) no-repeat center center;
    width: 100%; height: 100%;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
header .title h2 {
    font-size: 2.778rem;
    color: #004E11;
    text-align: center;
    margin-top: 376px;
}
header .title h1 {
    font-size: 7.222rem;
    color: #004E11;
    text-align: center;
    margin-top: 78px; margin-bottom: 106px;
    font-weight: bold;
}
header .title ul {
    display: flex;
    justify-content: center;
}
header .title ul li {
    margin-right: 40px;
}
header .title ul li a {
    font-size: 1.222rem;
}
header .title ul li:last-child {
    margin-right: 0;
}
header .title ul li a:hover {
    color: #12992f;
}
/* header 끝 */
.container {width: 1920px;}
.container .cont1 {
    padding: 128px 120px 0;
    margin: auto 0;
    height: 1080px;
    border-bottom: 2px solid #004E11;
} 
.container .cont1 h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
} 
.container .cont1 h3 span {
    font-size: 2.77rem;
    font-family: "YESMyoungjo-Regular";
}
.container .cont1 .cont1in {
    margin-top: 50px;
    display: flex;
}
.container .cont1 .profile>img {
    margin-bottom: 52px;
}
.container .cont1 .profile .p_txt {
    text-align: center;
}
.container .cont1 .profile .p_txt .p_name {
    display: flex;
    justify-content: center;
}
.container .cont1 .profile .p_txt .p_name .name {
    font-size: 1.667rem;
    color: #000;
    margin-right: 28px;
}
.container .cont1 .profile .p_txt .p_name .e_name {
    font-weight: 300;
    font-family: "Gothic A1", sans-serif;
    letter-spacing: 0.05rem;
    padding-top: 5px;
}
.container .cont1 .profile .p_txt p {
    margin-bottom: 20px;
}
/* .container .cont1 .profile . {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.container .cont1 .profile .about .p_name .name {
    font-size: 1.667rem;
    color: #000;
    margin-right: 28px;
}
.container .cont1 .profile .p_name .e_name {
    font-weight: 300;
    font-family: "Gothic A1", sans-serif;
    letter-spacing: 0.05rem;
    padding-top: 5px;
}
.container .cont1 .profile .p_txt>p {
    margin-bottom: 20px;
} */
.container .cont1 .cont1in .about_list {margin-left: 130px;}
.container .cont1 .cont1in .about_list h4 {
    font-size: 1.222rem;
    color: #000;
    border-bottom: 3px solid #004E11;
    display: inline-block;
    margin-bottom: 28px;
}
.container .cont1 .cont1in .about_list .Keyword p {
    font-size: 1.222rem;
    line-height: 40px;
    margin-bottom: 90px;
}
.container .cont1 .cont1in .about_list .Interest p {
    margin-bottom: 25px;
}
.container .cont1 .cont1in .about_list .Certificate p {margin-bottom: 15px;}
.container .cont1 .cont1in .about_list .Certificate p:last-child {margin-bottom: 90px;}
.container .cont1 .cont1in .about_list .Certificate span {
    color: #555; margin-left: 15px;
}
.container .cont1 .cont1in .about_list .Experience p {margin-bottom: 15px;}
.container .cont1 .cont1in .about_list .Experience p:last-child {margin-bottom: 90px;}
.container .cont1 .cont1in .about_list .Experience span {
    color: #555; margin-left: 15px;
}
.container .cont1 .cont1in .about_list .Skills ul {display: flex;}
.container .cont1 .cont1in .about_list .Skills ul li {margin-right: 15px;}
.container .cont1 .cont1in .about_list .Skills ul li:last-child {margin-right: 0px;}
/* cont1 끝 */
.container .cont2 {
    padding: 134px 120px 0;
    margin: auto 0;
    height: 1080px;
    border-bottom: 2px solid #004E11;
}
.container .cont2 h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
}
.container .cont2 h3 span {
    font-size: 2.77rem;
    font-family: "YESMyoungjo-Regular";
}
.container .cont2 .web_list {
    display: flex;
    justify-content: center;
}
.container .cont2 .web_list li {margin-right: 90px;}
.container .cont2 .web_list li:last-child {margin-right: 0px;}
.container .cont2 .web_list li .title {
    margin: 88px 0 32px 4px;
    display: flex;
}
.container .cont2 .web_list li .title h4 {
    font-size: 1.222rem;
    color: #000;
    border-bottom: 3px solid #004E11;
}
.container .cont2 .web_list li .title>p {
    margin-top: 5px; margin-left: 10px;
    font-size: 0.778rem;
    color: #555;
    letter-spacing: -0.01rem;
}
.container .cont2 .web_list li .btn a {
    font-size: 0.889rem;
    background: #9BC2D8;
    width: 110px; height: 28px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    margin-left: 8px; padding-top: 3px;
}
.container .cont2 .web_list li .btn a:first-child {
    margin-left: 27px;
}
.container .cont2 .web_list li .btn a:hover {
    color: #fff;
}
.container .cont2 .web_list li .w_txt {
    width: 450px; height: 148px;
    background: linear-gradient(to left, #EBEBEF 0%, #F9F9F9 50%, #EBEBEF 100%);
    border-radius: 20px;
    position: relative;
    padding-top: 26px;
    margin: 25px auto 0;
}
.container .cont2 .web_list li .w_txt>p {
    margin-bottom: 20px;
    margin-left: 25px;
}
.container .cont2 .web_list li .w_txt>p span {
    font-weight: bold;
}
.container .cont2 .web_list li .w_txt .icon {
    margin-right: 10px;
    position: absolute;
    right: 25px; bottom: 10px;
}
/* cont2 끝 */
.container .cont3 {
    padding: 80px 120px 0;
    margin: auto 0;
    height: 1080px;
    border-bottom: 2px solid #004E11;
}
.container .cont3 h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
}
.container .cont3 h3 span {
    font-size: 2.77rem;
    font-family: "YESMyoungjo-Regular";
}
.container .cont3 .sns_list {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
}
.container .cont3 .sns_list li {
    margin-bottom: 35px;
    margin-right: 35px;
    width: 390px; height: 390px;
}
.container .cont3 .sns_list li:nth-child(4n) {
    margin-right: 0px;
}
.container .cont3 .sns_list li img {
    background-color: lightblue;
    display: block;
    width: 100%; height: 100%;
}

/* cont3 끝 */
.container .cont4 {
    padding: 90px 120px 0;
    margin: auto 0;
    height: 1080px;
    border-bottom: 2px solid #004E11;
}
.container .cont4 h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
}
.container .cont4 h3 span {
    font-size: 2.77rem;
    font-family: "YESMyoungjo-Regular";
}
.container .cont4 .bn_list {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
}
.container .cont4 .bn_list li {
    background-color: lightblue;
    margin-bottom: 35px;
}
.container .cont4 .bn_list .long {
    width: 1600px; height: 250px;
    margin-left: 18px;
}
.container .cont4 .bn_list .shot {
    margin-right: 35px;
    width: 800px; height: 250px;

}
.container .cont4 .bn_list .shot:nth-child(2n+1) {
    margin-right: 0px;
}
.container .cont4 .bn_list li img {
    display: block;
    width: 100%; height: 100%;
}
/* cont4 끝 */
.container .cont5 {
    padding: 90px 120px 0;
    margin: auto 0;
    height: 1080px;
    border-bottom: 2px solid #004E11;
}
.container .cont5 h3 {
    font-family: "YESMyoungjo-Regular";
    font-size: 2.22rem;
}
.container .cont5 h3 span {
    font-size: 2.77rem;
    font-family: "YESMyoungjo-Regular";
}
.container .cont5 .detail_list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .cont5 .detail_list li {
    background-color: lightblue;
    margin-right: 35px;
    width: 800px; height: 800px;
}
.container .cont5 .detail_list li:last-child {
    margin-right: 0px;
}
.container .cont5 .detail_list li img {
    display: block;
    width: 100%; height: 100%;
}
/* cont5 끝 */
/* 1920px 끝 */
/* 1024px 시작 */
@media screen and (max-width:1024px){
    header {
        height: 577px;
        background-size: 1024px auto;
    }
    header .title {
        background-size: 882px auto;
    }
    header .title h2 {
        font-size: 2.22rem;
        margin-top: 162px;
    }
    header .title h1 {
        font-size: 6.11rem;
        margin-top: 58px; margin-bottom: 50px;
    }
    .container {width: 100%;}
    .container .cont1 {
        padding: 90px 0;
    }
    .container .h3 {
        font-size: 2.22rem;
    }
    .container .cont1 h3 span {
        font-size: 2.778rem;
    }
    .container .cont1 .cont1in {
        margin-top: 50px;
        display: block;
    }
    .container .cont1 .profile>img {
        margin-left: 62px;
    }
    .container .cont1 .profile .p_name {
    }
    .container .cont1 .profile .p_txt>p {
        text-align: none;
        margin-bottom: 20px;
    }
}