@media screen and (max-width:1024px){
    header {
        height: 577px;
        background-size: 1024px auto;
    }
    header .title {
        background-size: 882px auto;
    }
    header .title h2 {
        font-size: 2.22rem;
        margin-top: 162px;
    }
    header .title h1 {
        font-size: 6.11rem;
        margin-top: 58px; margin-bottom: 50px;
    }
    .container {width: 100%;}
    .container .cont1 {
        padding: 90px 0;
    }
    .container .h3 {
        font-size: 2.22rem;
    }
    .container .cont1 h3 span {
        font-size: 2.778rem;
    }
    .container .cont1 .cont1in {
        margin-top: 50px;
        display: block;
    }
    .container .cont1 .profile {
    }
    .container .cont1 .profile>img {
        margin-left: 62px;
    }
    .container .cont1 .profile .p_txt {
        width: 306px; height: 115px;
    }
}